[Desktop Entry]
Type=Application
Exec=sh $HOME/iottalk/setup/startup.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=IoTtalk
Name=IoTtalk
Comment[en_US]=
Comment=
