<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Ionicons/css/ionicons.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/AdminLTE/AdminLTE.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/AdminLTE/skins/skin-black-iot.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/google.fonts.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->