<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ _('IoT Environment Monitor System') }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />

  <link rel="Canonical" href="{{ request.url_root }}en{{ request.path | extract_path }}" />
  <link rel="alternate" hreflang="zh_TW" href="{{ request.url_root }}zh_TW{{ request.path | extract_path }}" />
  <link rel="alternate" hreflang="en" href="{{ request.url_root }}en{{ request.path | extract_path }}" />

  {% include 'base/css.html' %}
</head>
